<footer class="footer">
  <div class="container-fluid condensed">
    <div class="row">
      <!-- DIV 1 -->
      <div class="col-sm-4 col-md col-12 col text-left">
        <h5 class="footer-section-header">Find us</h5>
        <p><i class="fa fa-location-arrow"></i>&nbsp FEUP</p>
        <p><i class="fa fa-phone"></i>&nbsp +91 999 99 99</p>
        <p><i class="fa fa fa-envelope"></i>&nbsp lbaw2132@gmail.com</p>
        <p class="mb10"> Tech Council policy </p>
      </div>

      <!-- DIV 2 -->
      <div class="col-sm-4 col-md col-12 col">
        <h5 class="footer-section-header">Quick links</h5>
        <ul class="footer-ul">
          <li><a href="https://git.fe.up.pt/lbaw/lbaw2021/lbaw2132">Home</a></li>
          <li><a href="https://git.fe.up.pt/lbaw/lbaw2021/lbaw2132">About</a></li>
        </ul>
      </div>

      <!-- DIV 3 -->
      <div class="col-sm-4 col-md col-12 col">
        <h5 class="footer-section-header">Follow us</h5>
        <i class="fa fa-github"></i>&nbsp <a href="https://github.com/">Francisco Friande </a><br>
        <i class="fa fa-github"></i>&nbsp <a href="https://github.com/kiko-g">Francisco Gonçalves </a><br>
        <i class="fa fa-github"></i>&nbsp <a href="https://github.com/">João Romão </a><br>
        <i class="fa fa-github"></i>&nbsp <a href="https://github.com/migueldelpinto">Miguel Pinto </a><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <p class="text-center mt-0"> Designed With Bootstrap4 by <a href="#">LBAW 2132</a> </p>
  </div>
</footer>