.float-left {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.border-top-light {
  border-top: 1px #bbf7ff dashed;
}

.border-top-medium {
  border-top: 1px #637172 dashed;
}

.container-fluid.condensed {
  /* border-top: 1px solid #323f45; */
  padding: 0 5%;
}

.row.round {
  border-radius: 30px;
  border: 10px red dashed;
}

.nav-item {
  margin: 0 5px;
  border-radius: 10px;
}

.hover-invert-dark:hover {
  color: #333;
  background-color: whitesmoke;
}

.padding-special {
  margin: auto;
}

.border-dark {
  border: 1px solid rgb(32, 68, 85);
}

.border-gray {
  border: 1px solid rgb(201, 205, 209);
  border-radius: 5px !important;
}