/* Full display question */

.question {
  margin-bottom: 1em;
  border: 1px solid darkslategray;
}

.question-side {
  padding: 1em;
  margin-right: 1em;
  background-color: #ddd;
}

.question-body {
  padding: 1em;
}

.question-footer {
  padding: 0.5em;
  color: red;
}

.question-title {
  padding: 2px 0;
}

.question-tags {
  margin-top: 2em;
}

/* Card display question */

.question-card {
  margin-bottom: 1em;
  border: 1px solid darkslategray;
}

.question-card-body {
  padding: 1em;
}

.question-card-title {
  padding: 2px 0;
}

.question-card-footer {
  padding: 0 0.2em;
  background-color: burlywood;
}

.question-card-details {
  margin-top: 0;
}

.question-card-tags {
  margin-top: 0;
}

.question-card-side {
  border-radius: 5px 0 0 5px;
  padding: 10px;
  background-color: #ddd;
}

/* Stackedit */

.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.textarea-container button {
  position: absolute;
  top: 0;
  left: 0;
}

#toggle-stackedit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: auto;
  z-index: 10;
  display: block;
  padding: 0 0.1rem;
  border: 2px #dee2e6 solid;
  border-radius: .25rem;
  font-size: 0.8em;
  font-family: "Zilla Slab";
  font-weight: bold
}

#toggle-stackedit:hover {
  opacity: 90%;
}

.toggle-stackedit.off {
  color: #1c866b;
  background-color: #fff;
}

.toggle-stackedit.on {
  color: #fff;
  background-color: #1c866b;
}