/* Full display question */

.question {
  margin-bottom: 1em;
  border: 1px solid darkslategray;
}

.question-side {
  padding: 1em;
  margin-right: 1em;
  background-color: #ddd;
}

.question-body {
  padding: 1em;
}

.question-footer {
  padding: 0.5em;
  color: red;
}

.question-title {
  padding: 2px 0;
}

.question-tags {
  margin-top: 2em;
}

/* Card display question */

.question-card {
  margin-bottom: 1em;
  border: 1px solid darkslategray;
}

.question-card-body {
  padding: 1em;
}

.question-card-title {
  padding: 2px 0;
}

.question-card-footer {
  padding: 0 0.2em;
  background-color: burlywood;
}

.question-card-details {
  margin-top: 0;
}

.question-card-tags {
  margin-top: 0;
}

.question-card-side {
  border-radius: 5px 0 0 5px;
  padding: 10px;
  background-color: #ddd;
}

/* Stackedit */

.textarea-container {
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.textarea-container button {
  position: absolute;
  top: 0;
  left: 0;
}

#toggle-stackedit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: auto;
  z-index: 10;
  display: block;
  padding: 0 0.2rem;
  border: 2px #dee2e6 solid;
  border-radius: .25rem;
  font-size: 0.8em;
  font-family: var(--third-font);
  font-weight: 500
}

#toggle-stackedit-tip {
  color: #007aff;
  z-index: 10;
  display: inline;
  font-size: 1em;
  font-family: var(--third-font);
  font-weight: 500;
  opacity: 100%;
}

#toggle-stackedit-tip:hover {
  opacity: 80%;
  text-decoration: underline;
}

.toggle-stackedit.posrel {
  position: relative !important;
  display: flex !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.toggle-stackedit.off {
  color: #007aff;
  background-color: #fff;
}

.toggle-stackedit.on {
  color: #fff;
  <<<<<<< HEAD background-color: #007aff;
  =======background-color: #1c5686;
  >>>>>>>master
}