.search-results-header {
  padding-top: 0.5em;
  margin: 0;
  color: white;
  border-top: 0.5px solid #dae0e6;
  background: #395768;
  background-size: 600% 600%;
  animation: breathe 5s ease infinite;
}

.search-and-pose {
  margin-bottom: 1em;
}

.search-tabs {
  border-bottom: 0;
}

.search-tabs>.nav-link.active {
  color: #495057;
  font-size: 16px;
}

.nav-tabs>.nav-link {
  color: white;
}

.border-top-bg {
  border-top: 1px solid #dae0e6;
}