/* default elements */

body {
  font-family: var(--third-font), Arial, sans-serif;
  background-color: var(--background-color);
  line-height: 1.4;
  font-size: medium;
}

a {
  color: var(--nav-color);
  text-decoration: none;
}

a:hover {
  color: var(--blue-200);
  text-decoration: none;
}

a.different {
  color: #1e3a4b;
  text-decoration: underline;
}

ul.aside {
  list-style: none;
  padding-left: 0;
  font-size: smaller;
}

ul.aside>li {
  padding-bottom: 0.2rem;
}

a.header {
  color: #ffffff;
  text-decoration: none;
}

.opacity-90:hover {
  opacity: 70% !important;
}

a.header:hover {
  opacity: 80%;
}

main {
  width: auto;
  margin: 1em auto;
}

.upvote-downvote {
  flex-shrink: 1;
  justify-content: center;
}

.vote-ratio {
  width: 30px !important;
}

.votes {
  padding: 0;
}

.division {
  border-top: 1px solid var(--gray-500);
  margin-bottom: 2em;
}