.profile-card {
    background-color: transparent !important;
    border: 0px !important;
}

.profile-info {
    padding: 1rem 0rem !important;
}

.profile-img {
    padding: 0.5rem;
}

.profile-tools {
    padding: 1.1rem 1.25rem;
}

.profile-tools button{
    padding: 0rem !important;
}

.info-card {
    background-color: transparent !important;
    margin-top: 2rem;
}

.info-card ul{
    padding: 0px 0px 0px 0px;
}

.info-card p{
    margin: 1rem 0rem 0rem 0rem;
}