.bg-petrol {
  background-color: #47616d !important;
}

.bg-darksea {
  background-color: #46706b !important;
}

.bg-sky {
  background-color: #5a93aa !important;
}

.bg-teal {
  background-color: #56a08a !important;
}

/* Color pallette */
.text-orange-300 {
  color: #feb272;
}

.text-teal-200 {
  color: #a6e9d5;
}

.text-red-400 {
  color: #e35d6a;
}

.text-blue-100 {
  color: #9eebfe;
}

.text-blue-200 {
  color: #9ec5fe;
}

.text-blue-300 {
  color: #6ea8fe;
}

.text-wine {
  color: #dd758b;
}

.text-sky {
  color: #6fa4b4;
}

.bg-main {
  background-color: #dae0e6;
}

.bg-blue-300 {
  background-color: #6ea8fe;
}
