footer {
  width: 100%;
  color: #fff;
  background-color: #263238;
  min-height: 200px;
  padding: 2em 0;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footer-section-header {
  padding-top: 5px;
  margin-bottom: 20px;
}

.footer-section {
  background: #343e44;
}

.footer-ul {
  margin: 0px;
  list-style-type: none;
  padding: 0px 0px 10px 0px;
  font-size: small;
}

.footer-ul li {
  padding: 0px 0px 5px 0px;
}

.footer-ul li a {
  color: #aaa;
}

.footer-ul li a:hover {
  color: rgb(187, 247, 255);
  text-decoration: none;
}
