.user-card {
  padding: 1em;
}

.users-tags-or-reports-button {
  width: 50%;
}

.users-tags-or-reports-picker,
.results-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em 1em 1em;
}

.user-search,
.tag-search,
.report-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-search-nav,
.tag-search-nav,
.report-search-nav {
  width: 75%;
}

.results-picker-toolbar > .btn-group.mr-2 {
  padding: 0.2em;
}

.tag-table-border {
  margin: 1em 0 1em 0;
  border-radius: 4px;
  overflow: hidden;
}

.tag-table {
  margin-bottom: 0;
}

.tag-area {
  display: none;
}
